html
    head
        link(rel='stylesheet' href='./style.less' type='text/css')
        title='untitled - Paint'

    body
        div.container
            header
                div.window-bar
                    div.icon
                    div.title
                        label.filename='untitled'
                        label=' - Paint'
                    div.options
                        //Textos temporales para las fuentes
                        div.button.min
                            div.content
                        div.button.max
                            div.content
                        div.button.close
                            div.content

                div.toolbar
                    div.option.active
                        label.underline='F'
                        label='ile'
                    div.option
                        label.underline='E'
                        label='dit'
                    div.option
                        label.underline='V'
                        label='iew'
                    div.option
                        label.underline='I'
                        label='mage'
                    div.option
                        label.underline='C'
                        label='olors'
                    div.option
                        label.underline='H'
                        label='elp'

            main
                div.toolbar
                    div.container
                        div.tools
                            div.button.free
                                div.content
                            div.button.sel
                                div.content
                            div.button.erase
                                div.content
                            div.button.fill
                                div.content
                            div.button.pick
                                div.content
                            div.button.magnifier
                                div.content
                            div.button.pencil.active
                                div.content
                            div.button.brush
                                div.content
                            div.button.airbrush
                                div.content
                            div.button.text
                                div.content
                            div.button.line
                                div.content
                            div.button.curve
                                div.content
                            div.button.rectangle
                                div.content
                            div.button.polygon
                                div.content
                            div.button.ellipse
                                div.content
                            div.button.rounded
                                div.content

                        div.tool-options

                div.content
                    div.container
                        div.canvas

            footer
                div.color-bar
                    div.current
                        div.content
                            div.over_option
                                div.content

                            div.below_option
                                div.content

                    div.superior
                    - var n = 0;
                        while n < 14
                            div.color(class='color_' + (n++))
                                div.content
                    div.inferior
                        - var n = 14;
                            while n < 28
                                div.color(class='color_' + (n++))
                                    div.content


                div.separator

                div.info-containers
                    div.container.help
                    div.container.coordinates
                    div.container.misc

                    div.corner-resize